/* GENERAL HELPERS */
body {
  width: 1000px;
  margin: 0 auto;
  fill: currentColor;
}

/* COLORS */
/* these get reused and generally work for colorblind folks
 note that straight "red" is used for invalid things and otherwise black and white*/
.very-light-blue {
  background-color: hsla(200, 100%, 89%, 1);
}
.very-light-blue-gray {
  background-color: hsla(200, 1%, 89%, 1);
}
.light-blue {
  /*border-color: hsla(200, 100%, 64%, .7);*/
  background-color: hsla(200, 100%, 64%, .7);
}
.light-blue-gray {
  /*border-color: hsla(200, 1%, 64%, .7);*/
  background-color: hsla(200, 1%, 64%, .7);
}
.purple{
  background-color: hsla(260, 100%, 20%, 1);
}

/* Puzzle selection tabs */
.tab {
  background: hsla(0, 1%, 80%, 1);
  border-radius: 8px 8px 0 0;
  padding: 6px 16px;
}
.tab.selected {
  background: white;
}
#tabs label {
  margin-bottom: 0px;
  cursor: pointer;
}
#tabs input[type="checkbox"] {
  margin-left: 10px;
  margin-right: 10px;
}

/* Social -- NEEDS TO BE FIXED */
.twitter-mention-button {
  vertical-align: middle;
}

.puzzle-row {
  display: flex;
}

/* Legend */
/* no legend yet in this puzzle
.puzzle-legend .badge {
  margin-bottom: 4px;
}
.puzzle-legend .badge[title],
.puzzle-legend .badge[title] * {
  cursor: help;
}

.puzzle-legend label {
  vertical-align: top;
  padding: 5px;
}
.puzzle-legend .node {
  background-color: white;
}
.puzzle-legend .node-label {
  height: 100%;
  width: 100%;
}
*/
/* alerts and info bubble styles */

.alert,
.info-bubble,
.success-bubble {
  border-radius: 8px;
}
.info-bubble,
.success-bubble {
  padding: 10px;
  margin: 2px 0px;
}
.info-bubble {
  border: 1px solid blue;
}
.success-bubble {
  border: 1px solid green;
}
.puzzle-legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

/* puzzle specific */
/* border-box doesn't seem to help anything ... */
#puzzle-board {
  padding: 18px;
  background: white;
  display: inline-block;
}
#puzzle-board > div {
  border: 1px solid black;
}

.node {
  height: 36px;
  width: 36px;
  text-align: center;
  display: inline-block;
  color: black;

  border: 1px solid black;

  /* so that users don't accidentally select part of the board */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  touch-action: manipulation; /* to try and work around 300ms delay in Android */

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.node.white {
  cursor: pointer;
}

.node.black {
  color: white;
  background: black;
}

.node-label {
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  z-index: 1;
}
.node.letter .node-label {
  display: none;
  font-size: 18px;
  padding-right: 16px;
  padding-bottom: 13px;
  text-transform: uppercase;
}
.show-letters .node.letter .node-label {
  display: block;
}
.show-letters .node.number {
  color: gray;
}

.line {
  position: absolute;
  border-color: hsla(260, 100%, 60%, 1);
  border-style: solid;
  border-width: 0px;
}
.first-conjecture .line,
.conjecture .line {
  border-color: hsla(260, 0%, 60%, 1);
  border-style: dotted;
}
.node.first-conjecture {
  border-color: yellow;
}
.vertical.line {
  height: 100%;
  border-left-width: 3px;
  top: 0px;
  left: 47%;
}
.horizontal.line {
  width: 100%;
  border-top-width: 3px;
  left: 0px;
  top: 47%;
}

.conjecture-container {
  display: flex;
  align-items: center;
}
.conjecture-container button {
  margin-right: 10px;
}

/*saving this because I don't think other stylesheet has it*/
/*.node.tree.invalid-tree::after {
  content: "!";
  position: absolute;
  left: 1px;
  top: 0px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
*/













/* other file's CSS */
/*.node.letter-mode {
  border: none;
}
.node.muted {
  border-color: gray;
}
.muted .node-label {
  color: gray;
}
*/
/*.muted.letter-mode .node-label {
  color: black;
}
*/
.node.invalid {
  border-color: red;
  border-style: dotted;
  background-color: yellow;
}
.connection {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: crosshair;
}
.connection:hover {
  background-color: hsla(60, 100%, 50%, 0.7);
}
.connection.right {
  left: 0%;
  top: -25%;
  height: 50%;
  /*background-color: slateblue;*/
}
.connection.down{
  left: -25%;
  top: 0%;
  width: 50%;
/*  background-color: purple;
*/}
.connection .line {
  position: absolute;
}
.connection.right .line {
  width: 100%;
  height: 50%;
  border-bottom: .1em dotted gray;
}
.connection.down .line {
  width: 50%;
  height: 100%;
  border-right: .1em dotted gray;
}

.connection.right.connected .line {
  left: -7%;
  width: 111%; /* extra so that lines overlap enough to form unbroken path */
  height: 58%;
  border-bottom: .3em solid hsla(262, 100%, 20%, 1);
}
.connection.down.connected .line {
  top: -7%;
  height: 111%;
  width: 58%; /* thicker line has to be nearer the middle */
  border-right: .3em solid hsla(262, 100%, 20%, 1);
}

.connection.right.connected.conjecture .line  {
  border-bottom-color: dimgray;
  border-bottom-style: dotted;
}
.connection.connected.conjecture.first-conjecture {
  border-color: hsla(60, 100%, 50%, 0.7);
  border-width: 2px;
  border-style: solid;
  cursor: help;
}
.connection.down.connected.conjecture .line  {
  border-right-color: dimgray;
  border-right-style: dotted;
}
/* FIXME need to test these styles */
.connection.right.connected.invalid .line  {
  border-bottom-color: red;
  border-bottom-style: dotted;
}
.connection.down.connected.invalid .line  {
  border-right-color: red;
  border-right-style: dotted;
}

.x { /* blocked X's are hidden unless the appropriate class is on connector */
  color: purple;
  font-weight: 900;
  font-size: 110%;
  position: absolute;
  display: none;
}
.right .x {
  top: -17%;
  left: 37%;
}
.down .x {
  top: 18%;
  left: 25%;
}
.blocked .x {
  display: block;
}
.conjecture .x {
  color: gray;
  font-size: 100%;
}

.right.connectionator {
  height: 15px;
  width: 35px;
  left: 0px;
  top: -8px;
  /* background-color: yellow; */
}
.right.connectionator .blocked {
  left: 35%;
  top: 3px;
}
.right-blocked .right .blocked {
  display: block;
}
.below.connectionator {
  height: 35px;
  width: 15px;
  left: -8px;
  top: 0px;
  /* background-color: blue; */
}
.below.connectionator .blocked {
  top: 35%;
  left: 2px;
}
.below-blocked .below .blocked {
  display: block;
}

.legend .badge,
.legend .badge label {
  cursor: help;
}
.legend label {
  vertical-align: top;
  padding: 5px;
}
.legend .node-container {
  background: white;
  border: 5px solid white;
}
.connections.no-offset {
  left: 0;
  top: 0;
}

.alert,
.info-bubble {
  border-radius: 8px;
}
.info-bubble {
  border: 1px solid blue;
  padding: 10px;
  margin: 2px 0px;
}
.legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

.build-input {
  width: 26px;
}

.answer input {
  color: black;
  height: 35px;
  width: 35px;
  padding: 5px;
  font-size: 180%;
}

