/*div {
  box-sizing: border-box;
}*/
/* border-box doesn't seem to help anything ... */
#puzzle-container {
  background: white;
  display: inline-block;
}

.node-row { /* It's not clear to me why I need to force the height to be correct */
  height: 35px;
}

.node-container {
  position: relative;
  display: inline-block;
}

.node {
  border: .2em solid black;
  height: 1.5em;
  width: 1.5em;
  margin: .5em;
  border-radius: 0.75em;
  background: white;
  z-index: 2;
  position: relative;
}
.node.empty {
  z-index: -1;
}
.node.invalid {
  border-color: red;
  border-style: dotted;
  background-color: yellow;
}
.node-label {
  position: absolute;
  font-weight: bold;
  left: 4.5px;
  top: -1px;
  color: black;
}
.invalid .node-label {
  color: red;
}

.connections {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 47%;
  top: 47%;
  border-top: .1em dotted gray;
  border-left: .1em dotted gray;
  z-index: 1;
}

/* different connection states */
.right-none {
  border-top: none;
}
.right-active {
  width: 110%; /* 110% so that lines overlap enough to form unbroken path */
 border-top: .3em solid hsla(178, 100%, 50%, 1);
}
.right-active.right-invalid {
  border-top-color: red;
  border-top-style: groove;
}
.below-none {
  border-left: none;
}
.below-active {
  height: 110%;
  border-left: .3em solid hsla(178, 100%, 50%, 1);
}
.below-active.below-invalid {
  border-left-color: red;
  border-left-style: groove;
}

/* connectionators, elements for creating connections */
.connectionator {
  position: absolute;
  z-index: 0;
  cursor: pointer;
  /* background-color: hsla(60, 100%, 50%, .4); */
}
.connectionator:hover {
  background-color: hsla(60, 100%, 50%, .4);
}
.unpossible { /* unpossible X's are hidden unless the appropriate class is on connector */
  color: red;
  font-size: 72%;
  position: absolute;
  display: none;
}
/*.right-invalid .right .unpossible,  This shouldn't happen, but I need to see when it does
.below-invalid .below .unpossible {
  color: purple;
}*/
.right.connectionator {
  height: 15px;
  width: 35px;
  left: 0px;
  top: -8px;
  /* background-color: yellow; */
}
.right.connectionator .unpossible {
  left: 35%;
  top: 3px;
}
.right-unpossible .right .unpossible {
  display: block;
}
.below.connectionator {
  height: 35px;
  width: 15px;
  left: -8px;
  top: 0px;
  /* background-color: blue; */
}
.below.connectionator .unpossible {
  top: 35%;
  left: 2px;
}
.below-unpossible .below .unpossible {
  display: block;
}

.filled,
.filled.legend-square
{
  background: hsla(248, 49%, 46%, 0.75);
}

.legend .label {
  cursor: help;
}
.legend-square {
  background: white;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: middle;
  border: 1px solid black;
}

.legend-square.number {
  background-size: cover;
}

.legend-square.number.right {
  background-image: url("http://hryanjones.com/adalogical-aenigmas/20-6-to-right.png");
}
.legend-square.number.below {
  background-image: url("http://hryanjones.com/adalogical-aenigmas/20-10-below.png");
}

.alert {
  border: 1px solid red;
  border-radius: 8px;
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.build-input {
  width: 26px;
}
