<!DOCTYPE html>
<html>

<head>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/bootstrap-solarized-light.css" rel="stylesheet" type="text/css" />
  <link href="./gridder.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-cookies.min.js"></script>
  <script src="http://hryanjones.com/js/ngStorage.min.js"></script>
  <script src="./gridder.js"></script>

  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <meta charset="utf-8">
  <title>Ænigma #21</title>
</head>

<body ng-app="app" ng-controller="gridder" class="well">

  <h1>
    <a href="http://www.pavelspuzzles.com/adas/21/" target="_blank">
      Adalogical Ænigma #21
    </a>
    <small class="btn btn-warning" ng-click="clear();" ng-if="clear">
      Clear
    </small>
  </h1>

  <div>
    1st click - sets connection, 2nd click - sets it to not possible, 3rd resets to unknown
  </div>

  <div ng-if="buildData">
    <label>
      Rows:
      <input type="number" ng-model="buildData.numRows" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
    <label>
      Columns:
      <input type="number" ng-model="buildData.numColumns" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
  </div>

  <form id="tabs">
    <label class="tab" ng-class="{selected: jsonUrl === './example.json'}" ng-click="
        jsonUrl = './example.json';
        loadPuzzle(jsonUrl);
      ">
      example
    </label>
    <label class="tab" ng-class="{selected: jsonUrl === './real-deal-puzzle.json'}" ng-click="
        jsonUrl = './real-deal-puzzle.json';
        loadPuzzle(jsonUrl);
      ">
      Ænigma #21
    </label>
  </form>

  <!-- below image is for verifying that I entered the puzzle correctly -->
  <!-- <div style="position: relative">
    <img style="position: absolute; left: -1px; top: 4px; width: 779px; opacity: 0.4; z-index: 10;" src="/puzzle.png"/>
  </div> -->

  <div id="puzzle-container">

    <div ng-repeat="row in grid.nodes" ng-init="rowIndex = $index;" class="node-row">
      <div ng-repeat="node in row track by $index"
        class="node-container"
        ng-init="colIndex = $index;"
        >
        <div class="node"
          ng-class="{
      			empty: !node.number && !buildData,
      			invalid: node.invalid
          }">
          <div class="node-label">
            {{node.number}}
          </div>
          <input type="number" ng-if="buildData" min="0" max="4" class="build-input"
            ng-model="node.number"
            ng-change="addNodeNumber(buildData.nodeNumbers, rowIndex, colIndex, node.number)"
            style="z-index: 6;"
          />
        </div>

        <div class="connections"
          ng-class="{
            'right-none': !node.connections.right,
            'below-none': !node.connections.below,
            'right-active': node.connections.right.state === 'active',
            'below-active': node.connections.below.state === 'active',
            'right-unpossible': node.connections.right.state === 'unpossible',
            'below-unpossible': node.connections.below.state === 'unpossible',
            'right-invalid':
              node.connections.right.nodes[0].invalid ||
              node.connections.right.nodes[1].invalid ||
              node.connections.right.invalidReasons.connectsSameNodes ||
              node.connections.right.invalidReasons.moreThanOneBend,
            'below-invalid':
              node.connections.below.nodes[0].invalid ||
              node.connections.below.nodes[1].invalid ||
              node.connections.below.invalidReasons.connectsSameNodes ||
              node.connections.below.invalidReasons.moreThanOneBend,
            'right-conjecture': node.connections.right.conjecture,
            'below-conjecture': node.connections.below.conjecture,
          }"
          >

          <!-- Connectionators are the elements that when clicked or dragged through they activate a given connection -->

          <div class="right connectionator"
            ng-if="node.connections.right"
            ng-click="
              history.data.push(
                setNextStateAndGetChanges(node.connections.right, conjectures.enabled, rowIndex, colIndex)
              );
              validate.nodes(node.connections.right.nodes, alerts);
              validate.connection(node.connections.right, alerts);
            "
            >
            <i class="unpossible glyphicon glyphicon-remove"
              ng-class="{
                'glyphicon-remove': inode.connections.right.conjecture,
                'glyphicon-remove-circle': node.connections.right.conjecture,
              }"
            ></i>
          </div>

          <div class="below connectionator"
            ng-if="node.connections.below"
            ng-click="
              history.data.push(
                setNextStateAndGetChanges(node.connections.below, conjectures.enabled, rowIndex, colIndex)
              );
              validate.nodes(node.connections.below.nodes, alerts);
              validate.connection(node.connections.below, alerts);
            "
            >
            <i class="unpossible glyphicon glyphicon-remove"
              ng-class="{
                'glyphicon-remove': inode.connections.below.conjecture,
                'glyphicon-remove-circle': node.connections.below.conjecture,
              }"
            ></i>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div ng-if="buildData" class="well">
    <h4>Copy/paste me into a new puzzle JSON file</h4>
    <div>{{buildData}}</div>
  </div>

  <div>
    <button class="btn btn-sm btn-primary" ng-click="
        conjectureHelp = conjectures.enabled ? true : false;
        conjectures.enabled = true;
      "
      >
      <input type="checkbox" ng-checked="conjectures.enabled"/>
      Conjecture Mode
    </button>
    <span ng-show="conjectures.enabled" ng-click="conjectures.enabled = false;">
      <button class="btn btn-sm btn-default"
        ng-click="
          conjectures.clear(grid.connections);
          history.clearConjectures(history.data);
        ">
        Clear Conjectures
      </button>
      <button class="btn btn-sm btn-default" ng-click="conjectures.accept(grid.connections)">
        Accept Conjectures as Truth
      </button>
    </span>
    <p ng-show="conjectures.enabled && conjectureHelp">
      In <em>conjecture mode</em> all of your actions will be marked in light/thin gray so that you can may make temporary assumptions. When you're done you must either <em>Clear all conjectures</em>, or <em>Accept conjectures as truth</em>.
    </p>
  </div>

  <div ng-if="true">
    <h3>History</h3>
    <pre>{{history.data|json}}</pre>
  </div>

  <br/>
  <div ng-show="alerts.overloadedNode" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A circle cannot have more paths connect to it than the number it contains.
    ({{alerts.overloadedNode}} place<span ng-show="alerts.overloadedNode > 1">s</span> above)
  </div>
  <div ng-show="alerts.branchInEmptyNode" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    Paths may not branch, touch or cross each other.
    ({{alerts.branchInEmptyNode}} place<span ng-show="alerts.branchInEmptyNode > 1">s</span> above)
  </div>
  <div ng-show="alerts.connectsSameNodes" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    Two circles containing the same number may not be connected by a path.
    ({{alerts.connectsSameNodes}} place<span ng-show="alerts.connectsSameNodes > 1">s</span> above)
  </div>
  <div ng-show="alerts.moreThanOneBend" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    Any path between circles may only bend at most once.
    ({{alerts.moreThanOneBend}} place<span ng-show="alerts.moreThanOneBend > 1">s</span> above)
  </div>

  <h3>Rules</h3>
  <ol>
    <li>Draw paths along grid lines, each path connecting two circles to form a single connected network.</li>
    <li>The number in each circle indicates how many paths connect to that circle.</li>
    <li>Each path may bend 90&deg; at most once. (no validation yet)</li>
    <li>Paths may not touch or cross each other.</li>
    <li>The two circles connected by each path must contain different numbers.</li>
  </ol>

  <hr/>

  <h4>
    <a href="https://github.com/hryanjones/hryanjones.github.io/tree/adas21">Code</a>
    <small>main repo doesn't contain unreleased puzzle</small>
  </h4>

  <h3>TODO <small>in rough priority order</small></h3>

  <h4>For Release</h4>

  <ol>
    <li><strike>ability to load in different puzzles (so you could work the example for yourself and then move on to the real puzzle)</strike></li>
    <li><strike>need the UI (e.g. tabs for the example vs. the real thing),</strike> and a loading message and/or spinner</li>
    <li>
      history
      <ul>
        <li><strike>save history</strike></li>
        <li><strike>load a history stack (essential)</strike></li>
        <li>backward</li>
        <li>forward</li>
        <li>BONUS: history slider so you can scrub back and forth quickly</li>
      </ul>
    </li>
    <li><strike>in browser persistence (will have to be based on history due to circular data structures)</strike></li>
    <li>Global Re-do of validation otherwise Conjecture Mode and loading history will put things in a bad state</li>
    <li>Query string to select appropriate puzzle tab</li>
    <li>Legend</li>
    <li>more detailed instructions</li>
    <li>Addition of letters to the puzzle and probably a toggle to show/hide them</li>
  </ol>

  <h4>Nice-to-haves</h4>

  <ol>
    <li>Add in validation
      <ul>
        <li><strike>Each validation type should not only cause bad things to become extra visible, make sure works for color blind folks), it should also have a nice human readable warning.</strike></li>
        <li><strike>(easy) when a node has more than it's proper number of connections</strike></li>
        <li><strike>(easy) when a connection branches at an empty node</strike></li>
        <li><strike>(harder) when a long connection has more than one 90 degree angle</strike></li>
        <li><strike>(harder) when two connected nodes are the same number.</strike>
          <ul><li><strike><strong>Bug:</strong> Mix of branching and connecting.</strike></li></ul>
        </li>
        <li>Completion validation</li>
        <li>Ability to turn validation off in case it's distracting to some solvers</li>
        <li>Should I have some type of indicator that all the paths have been used from a given circle?</li>
      </ul>
    </li>
    <li><strike>"conjecture" mode -- this one will take some thought to get user experience right. I think they should be able to enter this mode, then all the paths or X's they add will look visually different (gray and something else for colorblind folks) then when they exit it they should have the choice to clear their gray things (default), make the gray truth, or cancel and stay in what-if mode</strike></li>
    <li>drag to select a path</li>
  </ol>

  <h4>Report issues beyond what's above</h4>
  <p>
    Please send an email to <a href="mailto:hryanjones@gmail.com">hryanjones@gmail.com</a> about any issues, bugs, or feature requests that come up.
  </p>


  <!-- <h3>nodeNumbers</h3><pre>{{nodeNumbers|json}}</pre> -->
  <!-- <h3>grid</h3><pre>{{grid|json}}</pre> -->

<!--   <div class="legend row well">
    <div class="col-xs-2 col-md-2 h4 no-margin">Legend:</div>
    <div class="label label-default col-xs-2 col-md-2" title="Squares that *should Not* be filled are well marked with this marker">
      unfilled <div class="redDot legend-square"></div>
    </div>
    <div class="label label-default col-xs-2 col-md-2" title="Mark squares which should be filled with this">
      filled <div class="filled legend-square"></div>
    </div>
    <div class="label label-default col-xs-3 col-md-3" title="Indicator that 6 squares to the right must be filled">
      6 filled to right <div class="legend-square number right"></div>
    </div>
    <div class="label label-default col-xs-3 col-md-3" title="10 squares below this indicator must be filled">
      10 filled below <div class="legend-square number below"></div>
    </div>
  </div>
 -->
<!--   <div>
    The puzzle above was created by <a href="http://www.pavelspuzzles.com/">Pavel Curtis</a> (all rights reserved) for <a href="http://www.seattletechnicalbooks.com/">Ada's Technical bookshop</a> in Seattle. This web version was created by <a href="https://twitter.com/hryanjones">@hryanjones</a>.
    <h3>Puzzle description (taken from PDF)</h3>
  </div>
 -->
</body>
</html>
