<!DOCTYPE html>
<html>

<head>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/bootstrap-solarized-light.css" rel="stylesheet" type="text/css" />
  <link href="./gridder.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-cookies.min.js"></script>
  <script src="http://hryanjones.com/js/ngStorage.min.js"></script>
  <script src="./gridder.js"></script>

  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <meta charset="utf-8">
  <title>Ænigma #21</title>
</head>

<body ng-app="app" ng-controller="gridder" class="well">

  <h1>
    <a href="http://www.pavelspuzzles.com/adas/21/" target="_blank">
      Adalogical Ænigma #21
    </a>
    <small class="btn btn-warning" ng-click="clear();" ng-if="clear">
      Clear
    </small>
  </h1>

  <div>
    1st click - sets connection, 2nd click - sets it to not possible, 3rd resets to unknown
  </div>

  <div id="puzzle-container">

    <div ng-repeat="row in grid.nodes" ng-init="rowIndex = $index;" class="node-row">
      <div ng-repeat="node in row track by $index"
        class="node-container"
        ng-init="colIndex = $index;"
        >
        <div class="node"
          ng-class="{
			empty: !node.number,
			invalid: node.invalid
        }"
        >
          <div class="node-label">
            {{node.number}}
          </div>
          <input type="number" ng-if="buildMode" min="0" max="4" class="build-input"
            ng-model="node.number"
            ng-change="addNodeNumber(nodeNumbers, rowIndex, colIndex, node.number)"
          />
        </div>

        <div class="connections"
          ng-class="{
            'right-none': !node.connections.right,
            'below-none': !node.connections.below,
            'right-active': node.connections.right.state === 'active',
            'below-active': node.connections.below.state === 'active',
            'right-unpossible': node.connections.right.state === 'unpossible',
            'below-unpossible': node.connections.below.state === 'unpossible',
            'right-invalid': node.connections.right.nodes[0].invalid ||
              node.connections.right.nodes[1].invalid ||
              node.connections.right.invalid,
            'below-invalid': node.connections.below.nodes[0].invalid ||
              node.connections.below.nodes[1].invalid ||
              node.connections.below.invalid,
          }"
          >

          <!-- Connectionators are the elements that when clicked or dragged through they activate a given connection -->

          <div class="right connectionator"
            ng-if="node.connections.right"
            ng-click="
              node.connections.right.state = nextState(node.connections.right.state);
              validate.node(node.connections.right.nodes[0], alerts);
              validate.node(node.connections.right.nodes[1], alerts);
              validate.sameNodesNotConnected(node.connections.right, alerts);
            "
            >
            <i class="unpossible glyphicon glyphicon-remove"></i>
          </div>

          <div class="below connectionator"
            ng-if="node.connections.below"
            ng-click="
              node.connections.below.state = nextState(node.connections.below.state);
              validate.node(node.connections.below.nodes[0], alerts);
              validate.node(node.connections.below.nodes[1], alerts);
              validate.sameNodesNotConnected(node.connections.below, alerts);
            "
            >
            <i class="unpossible glyphicon glyphicon-remove"></i>
          </div>
        </div>
      </div>

    </div>

  </div>

  <br/>
  <div ng-show="alerts.overloadedNode" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A circle cannot have more paths connect to it than the number it contains.
    ({{alerts.overloadedNode}} place<span ng-show="alerts.overloadedNode > 1">s</span> above)
  </div>
  <div ng-show="alerts.branchInEmptyNode" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    Paths may not branch, touch or cross each other.
    ({{alerts.branchInEmptyNode}} place<span ng-show="alerts.branchInEmptyNode > 1">s</span> above)
  </div>
  <div ng-show="alerts.sameNodesNotConnected" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    Two circles containing the same number may not be connected by a path.
    ({{alerts.sameNodesNotConnected}} place<span ng-show="alerts.sameNodesNotConnected > 1">s</span> above)
  </div>

  <h3>TODO <small>in rough priority order</small></h3>
  <ol>
    <li>Add in basic validation
      <ul>
        <li>Each validation type should not only cause bad things to become extra visible, make sure works for color blind folks), it should also have a nice human readable warning.</li>
        <li><strike>(easy) when a node has more than it's proper number of connections</strike></li>
        <li><strike>(easy) when a connection branches at an empty node</strike></li>
        <li>(harder) when a long connection branches has more than one 90 degree angle</li>
        <li><strike>(harder) when two connected nodes are the same number.</strike>
			<ul><li><strong>Bug:</strong> Mix of branching and connecting. I think this may be quite hard to solve...</li></ul>
        </li>
      </ul>
    </li>
    <li>Legend</li>
    <li>more detailed instructions</li>
    <li>
      history
      <ul>
        <li>backward</li>
        <li>forward</li>
        <li>BONUS: history slider so you can scrub back and forth quickly</li>
      </ul>
    </li>
    <li>Guessing mode -- this one will take some thought to get user experience right. I think they should be able to enter guessing mode, then when they exit it they should have the choice to clear their guesses (default), make their guesses truth, or cancel and stay in guessing mode</li>
  </ol>

  <!-- <h3>nodeNumbers</h3><pre>{{nodeNumbers|json}}</pre> -->
  <!-- <h3>grid</h3><pre>{{grid|json}}</pre> -->

<!--   <div class="legend row well">
    <div class="col-xs-2 col-md-2 h4 no-margin">Legend:</div>
    <div class="label label-default col-xs-2 col-md-2" title="Squares that *should Not* be filled are well marked with this marker">
      unfilled <div class="redDot legend-square"></div>
    </div>
    <div class="label label-default col-xs-2 col-md-2" title="Mark squares which should be filled with this">
      filled <div class="filled legend-square"></div>
    </div>
    <div class="label label-default col-xs-3 col-md-3" title="Indicator that 6 squares to the right must be filled">
      6 filled to right <div class="legend-square number right"></div>
    </div>
    <div class="label label-default col-xs-3 col-md-3" title="10 squares below this indicator must be filled">
      10 filled below <div class="legend-square number below"></div>
    </div>
  </div>
 -->
<!--   <div>
    The puzzle above was created by <a href="http://www.pavelspuzzles.com/">Pavel Curtis</a> (all rights reserved) for <a href="http://www.seattletechnicalbooks.com/">Ada's Technical bookshop</a> in Seattle. This web version was created by <a href="https://twitter.com/hryanjones">@hryanjones</a>.
    <h3>Puzzle description (taken from PDF)</h3>
  </div>
 -->
</body>
</html>
