body,
div#preview > div,
div#tabs > div.ui-tabs-panel {
  background-color: #A9D0F5;
}
body,
div#preview > div,
div#tabs > div.ui-tabs-panel, 
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #210B61;
}

a:link ,
.ui-tabs-panel a:link {
  color: #5F04B4; 
}
a:visited,
.ui-tabs-panel a:visited {
  color: #04B45F;
}
h1,
h2,
h3,
h4,
a.title:link,
a.title:visited {
  color:  #610B38;
}
xmp {
  border: 2px dashed blue;
}
xmp,
textarea,
div.ui-tabs-panel textarea,
.ui-widget-header,
.ui-widget-content {
  background-color: #BBEEFF;
  color: black;
}

/* jQuery UI colors */
/*
	background: #000000;
	color: #ffffff;
}
.ui-widget-header {
	background: #333333;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}
*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #666666;
	background: #555555;
	color: #eeeeee;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #59b4d4;
	background: #0078a3;
	color: #ffffff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #ffffff;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #ffaf0f;
	background: #f58400;
	color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #cccccc;
	background: #eeeeee;
	color: #2e7db2;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #2e7db2;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #ffb73d;
	background: #ffc73d;
	color: #111111;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #111111;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #111111;
}
