/* border-box doesn't seem to help anything ... */
#puzzle-container {
  background: white;
  display: inline-block;
  padding: 15px;
}

.node {
  border: 2px inset black;
  height: 36px;
  width: 36px;
  text-align: center;

  position: relative;
  color: gray;
  font-size: 20px;

  /* so that users don't accidentally select part of the board */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  touch-action: manipulation; /* to try and work around 300ms delay in Android */
}
.clickable {
  cursor: pointer;
}

.floating-button {
  position: absolute;
  z-index: 1;
  border-color: hsla(260, 100%, 20%, 1); /* purple */
}
.floating-button.up-down {
  width: 20px;
  margin-left: -10px;
  left: 50%;
}
.floating-button.glyphicon {
  padding: 2px;
  font-size: 15px;
  z-index: 2;
  border-radius: 10px;
}
.floating-button.glyphicon.active {
  color: white;
  background-color: red;
}
.selected .floating-button.glyphicon:not(.active) {
  background-color: white;
  border: 1px solid black;
}
.floating-button.left-right {
  height: 20px;
  margin-top: -10px;
  top: 50%;
}

/* arrows - technique borrowed from https://css-tricks.com/snippets/css/css-triangle/ */

.arrow {
  position: relative;
  border-color: hsla(260, 100%, 70%, 1); /* purple */
}
.active .arrow {
  border-color: hsla(260, 100%, 20%, 1); /* purple */
}
.shaft {
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  position: absolute;
}
.right .shaft,
.left .shaft {
  top: 8px;
}
.up .shaft,
.down .shaft {
  left: 8px;
}

.up .shaft {
  top: 5px;
}
.head {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: inherit;
}
.arrow.up .head {
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}
.arrow.down .head {
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;

  position: absolute;
  bottom: 0px;
}
.left .shaft {
  right: 0px;
}
.arrow.left .head {
  border-left-width: 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;

  float: left;
}
.arrow.right .head {
  border-right-width: 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;

  float: right;
}

.tee .node-label {
  color: black;
}
.tee .node-label,
.hole .node-label {
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.hole .node-label {
  border-color: white;
  background-color: black;
}
.hole.fulfilled .node-label {
  background-color: gray;
}
div.node.trap, td.node.trap {
  background-color: hsla(200, 100%, 70%, 1);
}
.selected.node {
  border-color: yellow;
  border-style: solid;
}









.conjecture.blank .node-label::after,
.conjecture.filled .node-label::after {
  content: "?";
  position: absolute;
  right: 1px;
  bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: hsla(0, 1%, 50%, 1);
}
.conjecture.filled .node-label::after {
  color: white
}
.node-label {
  height: 34px;
  width: 34px;
  line-height: 1.1;
  padding-top: 4px;
}
.blank,
.puzzle-legend .node.blank {
  background-color: hsla(200, 100%, 89%, 1);
}
.blank.conjecture,
.puzzle-legend .blank.conjecture {
  background-color: hsla(200, 1%, 89%, 1);
}

.blank.conjecture .node-label {
  border-color: hsla(200, 1%, 64%, .7);
}
.node.filled,
.puzzle-legend .node.filled {
  background-color: hsla(260, 100%, 20%, 1); /* purple */
}
.node.filled.invalid-filled {
  background-color: red;
}
.node.filled.invalid-filled::after {
  content: "!";
  position: absolute;
  left: 1px;
  top: 0px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.node.blank.invalid-clue .node-label {
  background-color: black;
  color: white;
}
.node.blank.invalid-clue::after {
  content: "!";
  position: absolute;
  left: 0px;
  top: -4px;
  font-size: 32px;
  font-weight: bold;
  color: red;
}
.node.filled.conjecture {
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 1%, 20%, 1),
    hsla(0, 1%, 70%, 1) 5px
  );
}
.node.filled.conjecture.invalid-filled {
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 100%, 20%, 1),
    hsla(0, 100%, 70%, 1) 5px
  );
}
.invalid .node-label {
  color: red;
}

/* NON PUZZLE SPECIFIC */

.puzzle-legend .badge {
  margin-bottom: 4px;
}
.puzzle-legend .badge[title],
.puzzle-legend .badge[title] * {
  cursor: help;
}

.puzzle-legend label {
  vertical-align: top;
  padding: 5px;
}
.puzzle-legend .node {
  background-color: white;
}
.puzzle-legend .node-label {
  height: 100%;
  width: 100%;
}

.alert,
.info-bubble,
.success-bubble {
  border-radius: 8px;
}
.info-bubble,
.success-bubble {
  padding: 10px;
  margin: 2px 0px;
}
.info-bubble {
  border: 1px solid blue;
}
.success-bubble {
  border: 1px solid green;
}
.puzzle-legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

.build-mode-inputs input {
  width: 26px;
}

.tab {
  background: hsla(0, 1%, 80%, 1);
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 6px 16px;
}
.tab.selected {
  background: white;
}

.twitter-mention-button {
  vertical-align: middle;
}

/* GENERAL HELPERS */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

body {
  width: 1020px;
  margin: 0 auto;
  fill: currentColor;
}

input.build-input::-webkit-outer-spin-button,
input.build-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
