<!DOCTYPE html>
<html>

<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/bootstrap-solarized-light.css" rel="stylesheet" type="text/css" />
  <link href="./gridder.css" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <meta charset="utf-8">
  <title>Ænigma #23 - hryanjones</title>
</head>

<body ng-app="app" ng-controller="gridder" class="well" ng-init="firstConjecture">

  <h1>
    Web Version of
    <a href="http://www.pavelspuzzles.com/adas/23/" target="_blank">
      Adalogical Ænigma #23
    </a>
    <small class="pull-right text-info">share <share-buttons></share-buttons></small>
    <br/>
    <small>
      Golf from the number tees to a hole, avoiding traps, and other golf paths.
    </small>
  </h1>

<!--   <div ng-if="buildData">
    <label>
      Rows:
      <input type="number" ng-model="buildData.numRows" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
    <label>
      Columns:
      <input type="number" ng-model="buildData.numColumns" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
  </div>
 -->
  <form id="tabs">
    <label class="tab h4" ng-class="{selected: jsonUrl === './example.json'}" ng-click="
        setQueryString('example');
        jsonUrl = './example.json';
        loadPuzzle(jsonUrl);
      ">
      example
    </label>
    <label class="tab h4" ng-class="{selected: jsonUrl === './aenigma-23.json'}" ng-click="
        setQueryString('aenigma-23');
        jsonUrl = './aenigma-23.json';
        loadPuzzle(jsonUrl);
      ">
      Ænigma #23
    </label>
<!--     <div class="checkbox inline-block no-margin">
      <label>
        <input type="checkbox" ng-model="showLetters"/>
        show letters
      </label>
      <span class="info-bubble bg-info text-info" ng-show="showLetters && !alerts.puzzleComplete" ng-cloak>
        <strong>Note:</strong> showing letters is mostly only useful after you've solved the whole grid.
        </span>
    </div> -->

 </form>

  <!-- below image is for verifying that I entered the puzzle correctly -->
<!--   <div style="position: relative">
    <img style="position: absolute; left: 14px; top: 14px; width: 798px; opacity: 0.4; z-index: 10;" src="./23.png"/>
  </div>
 -->
  <h1 ng-show="!grid || !grid.nodes">loading puzzle...</h1>
  <table id="puzzle-container" ng-show="grid && grid.nodes" ng-cloak>

    <tr ng-repeat="row in grid.nodes" ng-init="rowIndex = $index;" class="node-row nowrap">
      <td ng-repeat="node in row track by $index"
        class="node"
        ng-init="colIndex = $index;"
        ng-class="[
          node.type,
          (node.type === 'hole' && node.number !== null) ? 'fulfilled' : '',
          node.number ? 'clickable' : '',
          node === selectedNode ? 'selected': '',
          node.conjecture ? 'conjecture' : '',
          node.firstConjecture ? 'first-conjecture' : '',
          node.invalidReasons.adjacentFilledNeighbors ? 'invalid-filled' : '',
        ]"
        ng-click="selectNode(node, true);"
        ng-mouseenter="selectNode(node);"
        ng-disabled="showLetters && alerts.puzzleComplete"
        >
        <!-- ng-right-click="" -->

        <!-- DOWN -->
        <div
          style="top: 27px;"
          ng-show="
            node.state['down'] ||
              node === selectedNode && node.direction !== 'down' &&
              grid.nodes[rowIndex + node.number][colIndex] && node.number !== 1
          "
          class="floating-button up-down glyphicon glyphicon-remove text-danger"
          ng-click="
            history.data.push(
              setNextStateAndGetChanges('state', 'down', node, grid.nodes, conjecturesEnabled)
            );
            $event.stopPropagation();
          "
          ng-class="[node.state['down'] ? 'active' : '']"
        >
        </div>
        <div
          style="top: 100%;"
          ng-show="grid.nodes[rowIndex + node.number][colIndex] && (!node.direction && node === selectedNode && !node.state['down']) || node.direction === 'down'"
          class="floating-button up-down"
          ng-class="[node.direction === 'down' ? 'active' : '']"
          ng-click="history.data.push(
            setNextStateAndGetChanges('direction', 'down', node, grid.nodes, conjecturesEnabled)
          );"
          >
          <div class="arrow down" ng-style="{height: (arrowUnit * node.number - offset) + 'px'}">
            <div class="shaft" ng-style="{height: (arrowUnit * node.number - offset -5) + 'px'}"></div>
            <div class="head"></div>
          </div>
        </div>

        <!-- UP -->
        <div
          style="top: -12px;"
          ng-show="
            node.state['up'] ||
              node === selectedNode && node.direction !== 'up' &&
              grid.nodes[rowIndex - node.number][colIndex] && node.number !== 1
          "
          class="floating-button up-down glyphicon glyphicon-remove text-danger"
          ng-click="
            history.data.push(
              setNextStateAndGetChanges('state', 'up', node, grid.nodes, conjecturesEnabled)
            );
            $event.stopPropagation();
          "
          ng-class="[node.state['up'] ? 'active' : '']"
        >
        </div>
        <div
          style="bottom: 100%;"
          ng-show="grid.nodes[rowIndex - node.number][colIndex] && (!node.direction && node === selectedNode && !node.state['up']) || node.direction === 'up'"
          class="floating-button up-down"
          ng-class="[node.direction === 'up' ? 'active' : '']"
          ng-click="history.data.push(
            setNextStateAndGetChanges('direction', 'up', node, grid.nodes, conjecturesEnabled)
          );"
          >
          <div class="arrow up" ng-style="{height: (arrowUnit * node.number - offset) + 'px'}">
            <div class="shaft" ng-style="{height: (arrowUnit * node.number - offset -5) + 'px'}"></div>
            <div class="head"></div>
          </div>
        </div>

        <!-- RIGHT -->
        <div
          style="left: 27px;"
          ng-show="
            node.state['right'] ||
              node === selectedNode && node.direction !== 'right' &&
              grid.nodes[rowIndex][colIndex + node.number] && node.number !== 1
          "
          class="floating-button left-right glyphicon glyphicon-remove text-danger"
          ng-click="
            history.data.push(
              setNextStateAndGetChanges('state', 'right', node, grid.nodes, conjecturesEnabled)
            );
            $event.stopPropagation();
          "
          ng-class="[node.state['right'] ? 'active' : '']"
        >
        </div>
        <div
          style="left: 100%;"
          ng-show="grid.nodes[rowIndex][colIndex + node.number] && (!node.direction && node === selectedNode && !node.state['right']) || node.direction === 'right'"
          class="floating-button left-right"
          ng-class="[node.direction === 'right' ? 'active' : '']"
          ng-click="history.data.push(
            setNextStateAndGetChanges('direction', 'right', node, grid.nodes, conjecturesEnabled)
          );"
          >
          <div class="arrow right" ng-style="{width: (arrowUnit * node.number - offset) + 'px'}">
            <div class="shaft" ng-style="{width: (arrowUnit * node.number - offset -5) + 'px'}"></div>
            <div class="head"></div>
          </div>
        </div>

        <!-- LEFT -->
        <div
          style="left: -12px;"
          ng-show="
            node.state['left'] ||
              node === selectedNode && node.direction !== 'left' &&
              grid.nodes[rowIndex][colIndex - node.number] && node.number !== 1
          "
          class="floating-button left-right glyphicon glyphicon-remove text-danger"
          ng-click="
            history.data.push(
              setNextStateAndGetChanges('state', 'left', node, grid.nodes, conjecturesEnabled)
            );
            $event.stopPropagation();
          "
          ng-class="[node.state['left'] ? 'active' : '']"
        >
        </div>
        <div
          style="right: 100%;"
          ng-show="grid.nodes[rowIndex][colIndex - node.number] && (!node.direction && node === selectedNode && !node.state['left']) || node.direction === 'left'"
          class="floating-button left-right"
          ng-class="[node.direction === 'left' ? 'active' : '']"
          ng-click="history.data.push(
            setNextStateAndGetChanges('direction', 'left', node, grid.nodes, conjecturesEnabled)
          );"
          >
          <div class="arrow left" ng-style="{width: (arrowUnit * node.number - offset) + 'px'}">
            <div class="shaft" ng-style="{width: (arrowUnit * node.number - offset -5) + 'px'}"></div>
            <div class="head"></div>
          </div>
        </div>


        <div class="node-label">
          <span ng-if="!buildData">{{node.number}}</span>

<!--           <span ng-if="buildData" class="build-mode-inputs">
            <input class="build-input"
              ng-show="['tee', 'hole', 'trap'].indexOf(node.type) === -1"
              ng-model="node.letter"
              ng-change="addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'letter', node.letter)"
            />
            <input type="number" min="0" max="6" class="build-input"
              ng-show="node.type === 'tee'"
              ng-model="node.number"
              ng-change="addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'number', node.number)"
            />
            <br/>
            <button
              class="btn btn-xs no-padding pull-right"
              ng-repeat="type in ['tee', 'hole', 'trap']"
              ng-show="!node.type || node.type === type"
              ng-class="{'btn-primary': node.type === type}"
              ng-click="
                node.type = !node.type ? type : null;
                addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'type', node.type);
              ">
              {{type}}
            </button>
          </span>
 -->
          <span ng-show="showLetters" style="color: gray;">
            {{node.letter | uppercase}}
          </span>
        </div>

      </td>

    </tr>

  </table>
  <puzzle-legend class="pull-right" ng-cloak></puzzle-legend>

<!--   <div ng-if="buildData" class="well">
    <h4>Copy/paste me into a new puzzle JSON file</h4>
    <div>{{buildData}}</div>
  </div>
 -->
  <br/>
  <alerts></alerts>

  <!-- Buttons -->
  <div ng-hide="alerts.puzzleComplete && showLetters">
<!--     <span class="conjecture-container" ng-class="{'bg-info text-info info-bubble block': conjectures.enabled}">
      <button class="btn btn-primary" /ng-click="
          conjectures.enabled && conjectures.clear(grid.nodes);
          conjectures.enabled && history.clearConjectures(history.data);
          conjectures.enabled && validate.redo(grid);

          conjectures.enabled = !conjectures.enabled;
          firstConjecture = true;
        ">
        <input type="checkbox" ng-checked="conjectures.enabled"/>
        Conjecture Mode
        <br/><span ng-show="conjectures.enabled">Clear Conjectures</span>
      </button>
      <span ng-show="conjectures.enabled" ng-click="conjectures.enabled = false;">
      -or-
        <button class="btn btn-sm btn-default" ng-click="
            conjectures.accept(grid.nodes);
            history.markConjecturesAsTruth(history.data);
          ">
          Accept Conjectures as Truth
        </button>
      </span>
      <p ng-show="conjectures.enabled">
        <br/>
        <i class="glyphicon glyphicon-info-sign"></i>
        In <em>conjecture mode</em> all of your actions will be marked in light/thin gray so that you can make temporary assumptions. <em>Clear all conjectures</em>, or <em>Accept conjectures as truth</em> when you're done.
      </p>
    </span>
 -->
    <div class="btn btn-danger" ng-click="clear();" ng-if="clear">
      <i class="glyphicon glyphicon-trash"></i>
      Clear Puzzle Progress
    </div>

<!--     <div class="btn btn-info" ng-click="
        validate.complete(grid, conjectures.enabled);
        showLetters = !!alerts.puzzleComplete;
      ">
      <i class="glyphicon glyphicon-question-sign"></i>
      Check Puzzle Complete
    </div> -->
  </div>

  <div ng-if="alerts.puzzleComplete" class="success-bubble bg-success h4" ng-init="scratch = '';" ng-cloak>
    <div>
      <textarea class="form-control" placeholder="scratch area" ng-model="scratch"></textarea>
      a b c d e f g h i j k l m n o p q r s t u v w x y z (a b)
    </div>

    <div ng-show="jsonUrl === './example.json'">
      <p>
        <h4>
          <i class="glyphicon glyphicon-ok text-success"></i>
          Well done!
        </h4>
        You've solved the analytical part of the example puzzle. Use the scratch area above to work on finding the final answer.
      </p>
      <p>
      <strong>Click on the "Ænigma #23" tab to continue on to the larger puzzle and good luck!</strong>
      </p>
    </div>

  </div>


  <div ng-hide="alerts.puzzleComplete">
    <h3>Instructions</h3>
    <ul>
      <li>A <strong>golf tee</strong>, represented by a circled number, represents the starting point for a <em>single</em> ball.</li>
      <li>Each ball must travel in a sequence of horizontal or vertical <strong>shots</strong>, eventually arriving at <em>its own</em> <strong>hole</strong>, represented by a dark circle.</li>
      <li>The first shot must travel <em>exactly</em> the distance given by the number at its tee.</li>
      <li>
        <ul>
          <li>Each subsequent shot must travel one space less than the one before.</li>
        </ul>
      </li>
      <li>The path taken by a ball may <em>not</em> touch or cross either itself or that of any other ball or any hole.</li>
      <li>Shots may fly over <strong>traps</strong>, represented as shaded squares, but must never land in them.</li>
    </ul>
  </div>

  <div class="info-bubble answer bg-primary row" ng-show="alerts.puzzleComplete" ng-cloak>
    <form name="answerBox" ng-class="{
      'has-error': answer.length > answerLength,
      'has-warning': answer.length < answerLength,
    }">
    <h3 class="inline-block no-margin col-sm-5">
      Final Answer for <strong>{{jsonUrl | puzzleNameFormat}}</strong>:
    </h3>
    <div class="col-sm-5">
      <input
      placeholder="answer is {{answerLength}} letters"
      class="form-control col-sm-5"
      ng-model="answer"
      name="actualAnswer"
      />
    </div>
    <span ng-class="{'text-danger': answer.length > answerLength}" class="col-sm-2">
      {{answerLength - answer.length}}
    </span>
  </form>
</div>

<div class="bg-info text-info info-bubble block" ng-show="jsonUrl === './example.json'">
  <i class="glyphicon glyphicon-info-sign"></i>
  See the <a href="http://www.pavelspuzzles.com/adas/23/puzzle.pdf">PDF</a> for a short walk-through on solving the example.
</div>

<hr/>

<h3>Also see the paper version:
  <small><a href="http://www.pavelspuzzles.com/adas/23/">PDF (click puzzle image on this site)</a></small>
</h3>

<hr/>

<div>
  The puzzle above was created by <a href="http://www.pavelspuzzles.com/">Pavel Curtis</a> (all rights reserved). This web version was created by <a href="https://twitter.com/hryanjones">@hryanjones</a>.
</div>

<h4>
  contact puzzle creators
  <a href="mailto:pavel@pavelspuzzles.com,hryanjones@gmail.com" class="btn btn-default">
      <i class="glyphicon glyphicon-envelope"></i>
      Email Pavel and Ryan
  </a>

  <!-- twitter link slightly modified from https://about.twitter.com/resources/buttons#mention -->
  <a href="https://twitter.com/intent/tweet?screen_name=pavelcurtis" class="btn btn-default">
      <twitter-icon></twitter-icon>
      @pavelcurtis
  </a>

  <a href="https://twitter.com/intent/tweet?screen_name=hryanjones" class="btn btn-default">
      <twitter-icon></twitter-icon>
      @hryanjones
  </a>

</h4>
<h4>
  <a href="https://github.com/hryanjones/hryanjones.github.io">Code</a>
  <small>on Github</small>
</h4>

<todo></todo>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
<script src="./gridder.js"></script>
<script src="/assets/js/googleAnalytics.js"></script>

</body>
</html>
