/*div {
  box-sizing: border-box;
}*/
/* border-box doesn't seem to help anything ... */
#puzzle-container {
  background: white;
  display: inline-block;
  padding: 10px;
}

.node {
  border: 2px solid black;
  height: 25px;
  width: 25px;
  text-align: center;

  background: white;
  z-index: 2;
  /* position: relative; */
  color: black;
  cursor: pointer;

  /* so that users don't accidentally select part of the board */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.node.blank {
  background-color: lightyellow;
}
.node.filled {
  background-color: indigo;
}
.invalid .node-label {
  color: red;
}

.legend .badge,
.legend .badge label {
  cursor: help;
}
.legend label {
  vertical-align: top;
  padding: 5px;
}

.alert,
.info-bubble {
  border-radius: 8px;
}
.info-bubble {
  border: 1px solid blue;
  padding: 10px;
  margin: 2px 0px;
}
.legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

.build-mode-inputs input {
  width: 26px;
}
.build-mode-inputs button.right-arrow,
.build-mode-inputs button.left-arrow
{
  line-height: 0.5;
}

.tab {
  background: hsla(0, 0%, 80%, 1);
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 12px;
}
.tab.selected {
  background: white;
}
/*#tabs .checkbox {
  min-height: 18px;
}
*/

.answer input {
  color: black;
  height: 35px;
  width: 35px;
  padding: 5px;
  font-size: 180%;
}

.twitter-mention-button {
  vertical-align: middle;
}

/* GENERAL HELPERS */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

