/* border-box doesn't seem to help anything ... */
#puzzle-container {
  background: white;
  display: inline-block;
  padding: 15px;
}

.node {
  border: 2px solid black;
  height: 36px;
  width: 36px;
  text-align: center;

  position: relative;
  color: black;
  cursor: pointer;
  font-size: 20px;

  /* so that users don't accidentally select part of the board */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.node.complete {
  color: gray;
}
.conjecture.blank .node-label::after,
.conjecture.filled .node-label::after {
  content: "?";
  position: absolute;
  right: 1px;
  bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: hsla(0, 1%, 50%, 1);
}
.conjecture.filled .node-label::after {
  color: white
}
.node-label {
  height: 34px;
  width: 34px;
  line-height: 1.1;
  padding-top: 4px;
}
.blank .node-label {
  padding-top: 4px;
}
.node-label.left-or-right {
  padding-top: 7px;
}
.blank,
.legend .node.blank {
  background-color: hsla(200, 100%, 89%, 1);
}
.blank.conjecture,
.legend .blank.conjecture {
  background-color: hsla(200, 1%, 89%, 1);
}
.blank .node-label {
  border-color: hsla(200, 100%, 64%, .7);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
}
.blank.conjecture .node-label {
  border-color: hsla(200, 1%, 64%, .7);
}
.node.filled,
.legend .node.filled {
  background-color: hsla(260, 100%, 20%, 1);
}
.node.filled.invalid-filled {
  background-color: red;
}
.node.filled.invalid-filled::after {
  content: "!";
  position: absolute;
  left: 1px;
  top: 0px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.node.blank.invalid-clue .node-label {
  background-color: black;
  color: white;
}
.node.blank.invalid-clue::after {
  content: "!";
  position: absolute;
  left: 0px;
  top: -4px;
  font-size: 32px;
  font-weight: bold;
  color: red;
}
.node.filled.conjecture {
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 1%, 20%, 1),
    hsla(0, 1%, 70%, 1) 5px
  );
}
.node.filled.conjecture.invalid-filled {
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 100%, 20%, 1),
    hsla(0, 100%, 70%, 1) 5px
  );
}
.blank .node-label.left-or-right {
  padding-top: 7px;
}
.invalid .node-label {
  color: red;
}

.legend .badge[title],
.legend .badge[title] * {
  cursor: help;
}
.legend label {
  vertical-align: top;
  padding: 5px;
}
.legend .node {
  background-color: white;
}
.legend .node-label {
  height: 100%;
  width: 100%;
}

.alert,
.info-bubble,
.success-bubble {
  border-radius: 8px;
}
.info-bubble,
.success-bubble {
  padding: 10px;
  margin: 2px 0px;
}
.info-bubble {
  border: 1px solid blue;
}
.success-bubble {
  border: 1px solid green;
}
.legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

.build-mode-inputs input {
  width: 26px;
}
.node-label.left-or-right,
.build-mode-inputs button.right-arrow,
.build-mode-inputs button.left-arrow
{
  line-height: 0.6;
}

.tab {
  background: hsla(0, 1%, 80%, 1);
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 6px 16px;
}
.tab.selected {
  background: white;
}
/*#tabs .checkbox {
  min-height: 18px;
}
*/

.answer input {
  color: black;
  height: 35px;
  width: 35px;
  padding: 5px;
  font-size: 180%;
}

.twitter-mention-button {
  vertical-align: middle;
}

/* GENERAL HELPERS */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

body {
  width: 970px;
  margin: 0 auto;
}

