/* border-box doesn't seem to help anything ... */
#puzzle-container {
  background: white;
  display: inline-block;
  padding: 10px;
}

.node {
  border: 2px solid black;
  height: 24px;
  width: 24px;
  text-align: center;

  background: white;
  position: relative;
  color: black;
  cursor: pointer;

  /* so that users don't accidentally select part of the board */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.conjecture.blank .node-label::after,
.conjecture.filled .node-label::after {
  content: "?";
  position: absolute;
  right: 1px;
  bottom: 0px;
  font-size: 10px;
  font-weight: bold;
  color: hsla(0, 0%, 50%, 1);
}
.conjecture.filled .node-label::after {
  color: white
}
.node-label {
  height: 22px;
  width: 22px;
  line-height: 1.1;
  padding-top: 3px;
}
.blank .node-label {
  padding-top: 2px;
}
.node-label.left-or-right {
  padding-top: 5px;
}
.blank {
  background-color: hsla(200, 100%, 64%, .3);
}
.blank.conjecture {
  background-color: hsla(200, 0%, 64%, .3);
}
.blank .node-label {
  border-color: hsla(200, 100%, 64%, .7);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
}
.blank.conjecture .node-label {
  border-color: hsla(200, 0%, 64%, .7);
}
.node.filled {
  background-color: hsla(260, 100%, 20%, 1);
}
.node.filled.conjecture {
  background: repeating-linear-gradient(
    45deg,
    hsla(260, 0%, 20%, 1),
    hsla(260, 0%, 70%, 1) 5px
  );
}
.blank .node-label.left-or-right {
  padding-top: 4px;
}
.invalid .node-label {
  color: red;
}

.legend .badge,
.legend .badge label {
  cursor: help;
}
.legend label {
  vertical-align: top;
  padding: 5px;
}

.alert,
.info-bubble {
  border-radius: 8px;
}
.info-bubble {
  border: 1px solid blue;
  padding: 10px;
  margin: 2px 0px;
}
.legend .info-bubble {
  padding: 2px;
}
.alert {
  border: 1px solid red;
}

.build-mode-inputs input {
  width: 26px;
}
.node-label.left-or-right,
.build-mode-inputs button.right-arrow,
.build-mode-inputs button.left-arrow
{
  line-height: 0.5;
}

.tab {
  background: hsla(0, 0%, 80%, 1);
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 1px 12px;
}
.tab.selected {
  background: white;
}
/*#tabs .checkbox {
  min-height: 18px;
}
*/

.answer input {
  color: black;
  height: 35px;
  width: 35px;
  padding: 5px;
  font-size: 180%;
}

.twitter-mention-button {
  vertical-align: middle;
}

/* GENERAL HELPERS */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

