<!DOCTYPE html>
<html>

<head>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/bootstrap-solarized-light.css" rel="stylesheet" type="text/css" />
  <link href="./gridder.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="http://hryanjones.com/js/ngStorage.min.js"></script>
  <script src="./gridder.js"></script>

  <script src="http://localhost:35729/livereload.js?snipver=2"></script>

  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <meta charset="utf-8">
  <title>Ænigma #22 - hryanjones</title>
</head>

<body ng-app="app" ng-controller="gridder" class="well" ng-init="showLetters = false;">

  <h1>
    Web Version of
    <a href="http://www.pavelspuzzles.com/adas/22/" target="_blank">
      Adalogical Ænigma #22
    </a>
    <br/>
    <small>
      click on a box to mark it <em>blank</em>, click again (or right-click) to mark it <em>filled</em>
    </small>
  </h1>

  <div ng-if="buildData">
    <label>
      Rows:
      <input type="number" ng-model="buildData.numRows" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
    <label>
      Columns:
      <input type="number" ng-model="buildData.numColumns" ng-change="grid = setUpBoard(buildData)" min="1" max="99"/>
    </label>
  </div>

  <form id="tabs">
    <label class="tab h4" ng-class="{selected: jsonUrl === './example.json'}" ng-click="
        setQueryString('example');
        jsonUrl = './example.json';
        loadPuzzle(jsonUrl);
      ">
      example
    </label>
    <label class="tab h4" ng-class="{selected: jsonUrl === './aenigma-22.json'}" ng-click="
        setQueryString('aenigma-22');
        jsonUrl = './aenigma-22.json';
        loadPuzzle(jsonUrl);
      ">
      Ænigma #22
    </label>
<!--     <div class="checkbox inline-block no-margin">
      <label>
        <input type="checkbox" ng-model="showLetters"/>
        show letters
      </label>
    </div>
 -->
 </form>

  <!-- below image is for verifying that I entered the puzzle correctly -->
<!--   <div style="position: relative">
    <img style="position: absolute; left: 9px; top: 9px; width: 507px; opacity: 0.4; z-index: 10;" src="./puzzle.png"/>
  </div>
 -->
  <table id="puzzle-container">

    <tr ng-repeat="row in grid.nodes" ng-init="rowIndex = $index;" class="node-row nowrap">
      <td ng-repeat="node in row track by $index"
        class="node"
        ng-init="colIndex = $index;"
        ng-class="[
          node.state,
          node.conjecture ? 'conjecture' : '',
          node.complete ? 'complete' : '',
          node.invalidReasons.adjacentFilledNeighbors ? 'invalid-filled' : '',
          (node.invalidReasons.overSaturatedClue ||
            node.invalidReasons.underSaturatedClue ||
            node.invalidReasons.trappedSingleBlankNode) ? 'invalid-clue' : '',
        ]"
        ng-right-click="
          history.data.push(setNextStateAndGetChanges(node, conjectures.enabled, 'onlyFilled'));
          validate.node(node, grid.nodes);
          validate.row(grid.nodes, rowIndex);
          validate.column(grid.nodes, colIndex);
        "
        ng-click="
          history.data.push(setNextStateAndGetChanges(node, conjectures.enabled));
          validate.node(node, grid.nodes);
          validate.row(grid.nodes, rowIndex);
          validate.column(grid.nodes, colIndex);
        "
        >

        <div class="node-label" ng-if="!buildData" ng-class="{'left-or-right': node.direction === 'left' || node.direction === 'right'}">
          {{node.number}}<span class="down-arrow" ng-show="node.direction === 'down'"></span><span class="up-arrow" ng-show="node.direction === 'up'"></span>
          <div class="right-arrow" ng-show="node.direction === 'right'"></div>
          <div class="left-arrow" ng-show="node.direction === 'left'"></div>
          <!-- <sub ng-show="showLetters">{{node.letter}}</sub> -->
        </div>

        <div ng-if="buildData" class="build-mode-inputs">
          <button
            ng-show="node.number !== null"
            class="btn btn-xs no-padding up-arrow"
            ng-class="{'btn-primary': node.direction === 'up'}"
            ng-click="
              node.direction = 'up';
              addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'direction', node.direction)
            "></button>
          <button
            ng-show="node.number !== null"
            class="btn btn-xs no-padding left-arrow"
            ng-class="{'btn-primary': node.direction === 'left'}"
            ng-click="
              node.direction = 'left';
              addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'direction', node.direction);
            "></button>
          <button
            ng-show="node.number !== null"
            class="btn btn-xs no-padding right-arrow"
            ng-class="{'btn-primary': node.direction === 'right'}"
            ng-click="
              node.direction = 'right';
              addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'direction', node.direction)
            "></button>
          <br ng-if="node.number !== null"/>
          <button
            ng-show="node.number !== null"
            class="btn btn-xs no-padding down-arrow"
            ng-class="{'btn-primary': node.direction === 'down'}"
            ng-click="
              node.direction = 'down';
              addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'direction', node.direction)
            "></button>
          <input type="number" min="0" max="4" class="build-input"
            ng-model="node.number"
            ng-change="addNodeAttribute(buildData.nodeData, rowIndex, colIndex, 'number', node.number)"
          />
        </div>

      </td>

    </tr>

  </table>

  <div ng-if="buildData" class="well">
    <h4>Copy/paste me into a new puzzle JSON file</h4>
    <div>{{buildData}}</div>
  </div>

  <br/>
  <div ng-show="alerts.adjacentFilledNeighbors" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A filled square cannot be next to another filled square, vertically or horizontally.
    ({{alerts.adjacentFilledNeighbors}} square<span ng-show="alerts.adjacentFilledNeighbors > 1">s</span> above)
  </div>
  <div ng-show="alerts.overSaturatedClue" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A "true" clue square should not "see" more filled squares than its number in the indicated direction.
    ({{alerts.overSaturatedClue}} clue<span ng-show="alerts.overSaturatedClue > 1">s</span> above)
  </div>
  <div ng-show="alerts.underSaturatedClue" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A "true" clue square must "see" exactly the same number of filled squares as its number.
    ({{alerts.underSaturatedClue}} clue<span ng-show="alerts.underSaturatedClue > 1">s</span> above)
  </div>
  <div ng-show="alerts.trappedSingleBlankNode" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    A square marked as "blank" must connect to other "blank" squares.
    ({{alerts.trappedSingleBlankNode}} square<span ng-show="alerts.trappedSingleBlankNode > 1">s</span> above)
  </div>
  <div ng-show="alerts.notAllSquaresFilled" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    In order to verify you've solved the puzzle all squares must be marked as either "blank" or "filled".
    <i class="btn glyphicon glyphicon-remove pull-right" ng-click="alerts.notAllSquaresFilled = 0;"></i>
  </div>
  <div ng-show="alerts.notAllBlanksConnected" class="alert bg-danger h4">
    <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    All "blank" squares must be connected to all others in one single region, however, above you have {{alerts.notAllBlanksConnected}} regions.
  </div>
  <div ng-show="alerts.puzzleComplete && jsonUrl === './example.json'" class="success-bubble bg-success h4">
    <i class="glyphicon glyphicon-ok text-success"></i>
    Congratulations! You've solved the example puzzle. Click on the "Ænigma #22" tab to continue on to the larger puzzle and good luck!
  </div>
  <div ng-show="alerts.puzzleComplete && jsonUrl === './aenigma-22.json'" class="success-bubble bg-success h3">
    <i class="glyphicon glyphicon-ok text-success"></i>
    Congratulations! You've solved the analytical part of this Ænigma! (which is no mean feat) Please continue on to finding the final answer which will earn you one free non-alcoholic drink at Ada's technical bookshop.
  </div>


  <span class="conjecture-container" ng-class="{'bg-info text-info info-bubble block': conjectures.enabled}">
    <button class="btn btn-primary" ng-click="
        conjectures.enabled && conjectures.clear(grid.nodes);
        conjectures.enabled && history.clearConjectures(history.data);
        conjectures.enabled && validate.redo(grid);

        conjectures.enabled = !conjectures.enabled;
      ">
      <input type="checkbox" ng-checked="conjectures.enabled"/>
      Conjecture Mode
      <span ng-show="conjectures.enabled">-- Clear Conjectures</span>
    </button>
    <span ng-show="conjectures.enabled" ng-click="conjectures.enabled = false;">
    -or-
      <button class="btn btn-sm btn-default" ng-click="
          conjectures.accept(grid.nodes);
          history.markConjecturesAsTruth(history.data);
        ">
        Accept Conjectures as Truth
      </button>
    </span>
    <p ng-show="conjectures.enabled">
      <br/>
      <i class="glyphicon glyphicon-info-sign"></i>
      In <em>conjecture mode</em> all of your actions will be marked in light/thin gray so that you can make temporary assumptions. <em>Clear all conjectures</em>, or <em>Accept conjectures as truth</em> when you're done.
    </p>
  </span>

<!--   <button ng-click="
      validate.redo(grid, alerts);
    "
    class="btn btn-default"
    >
    Redo Validation
  </button> -->
  <div class="btn btn-danger" ng-click="clear();" ng-if="clear">
    <i class="glyphicon glyphicon-trash"></i>
    Clear Puzzle Progress
  </div>

  <div class="btn btn-success" ng-click="validate.complete(grid);" ng-if="clear">
    <i class="glyphicon glyphicon-question-sign"></i>
    Check Puzzle Complete
  </div>

  <div ng-if="false">
    <h3>History</h3>
    <pre>{{history.data|json}}</pre>
  </div>

  <br/>
  <br/>
  <div class="bg-info info-bubble text-info legend">
    <h3>Legend</h3>

    <div class="badge" title="This clue means that there are exactly 3 squares filled to the left. If a clue square is filled, then you can ignore the clue.">
      <label>clue<br/>square</label>
        <div class="node inline-block">
          <div class="node-label left-or-right">
          3
          <div class="left-arrow"></div>
        </div>
      </div>
    </div>

    <div class="badge" title="Squares that are filled must connect to all others.">
      <label>square marked<br/> as "blank"</label>
      <div class="node inline-block blank"><div class="node-label"></div></div>
    </div>

    <div class="badge" title="Filled squares cannot be next to each other.">
      <label>square marked<br/> as "filled"</label>
      <div class="node inline-block filled"><div class="node-label"></div></div>
    </div>

    <div class="badge">
      <label>"blank"<br/>conjecture</label>
      <div class="node inline-block blank conjecture"><div class="node-label"></div></div>
    </div>

    <div class="badge">
      <label>"filled"<br/>conjecture</label>
      <div class="node inline-block filled conjecture"><div class="node-label"></div></div>
    </div>

    <div class="badge">
      <label>"filled" squares<br/>cannot touch</label>
      <div class="node inline-block filled invalid-filled"><div class="node-label"></div></div>
    </div>

    <div class="badge" title="If a clue square is marked as 'blank' this forces it to be true, however, if there's too many filled squares or too many open squares left, there's a problem.">
      <label>clue marked as true<br/>with a problem</label>
        <div class="node inline-block blank invalid-clue">
          <div class="node-label left-or-right">
          2<span class="up-arrow"></span>
        </div>
      </div>
    </div>
  </div>

  <h3>Basic Instructions <small>will be replaced by puzzle flavor text</small></h3>
  <ul>
    <li>Fill some squares of the grid, possibly including some squares containing clues.</li>
    <li>"Blank" clues are "true" and specify exactly how many filled squares it can "see" in the same row or column, in the indicated direction.</li>
    <li>Filled clues should be ignored.</li>
    <li>Filled squares may not be horizontally or vertically</li>
adjacent.
    <li>All "blank" squares, as a group, must be
connected to one another, horizontally or vertically.</li>
  </ul>

<!--   <div class="info-bubble answer bg-primary inline-block">
    <h3 class="inline-block no-margin">Final Answer for <strong>{{jsonUrl | puzzleNameFormat}}</strong>:</h3>
    <div class="inline-block nowrap">
      <span ng-repeat="letter in answer track by $index">
        <input maxlength="1" ng-model="answer[$index]"/>
      </span>
    </div>
  </div>

  <div class="bg-info text-info info-bubble block" ng-show="jsonUrl === './example.json'">
      <i class="glyphicon glyphicon-info-sign"></i>
      See the <a href="http://www.pavelspuzzles.com/adas/22/puzzle.pdf">PDF</a> for a short walk-through on solving the example.
  </div>

  <h3>Flavor Text
    <small>from the <a href="http://www.pavelspuzzles.com/adas/22/">PDF (click puzzle image on this site)</a>,</small>
    <small>rules are in <strong>bold</strong>
  </h3>
  <p>
    Gentle Patron,
  </p>
  <p>
    It came to me recently, as it has done many times before, that Life presents itself to us like a particularly <em>devious</em> sort of maze: one wherein <em>not only</em> must we twist and turn on our ways, oft encountering blank endings and curs’d loopings back, but in which even the labyrinthine pathways themselves are <em>hidden</em> from us, such that we must feel out the walls blindly, stubbing our toes and bruising both body and soul.
  </p>
  <p>
    These are the <em>cheery</em> musings that inspired the ænigma below.
  </p>
  <p>
    <strong>
    I should like you to draw the pathways of a single connected maze along the <em>lines</em> of the grid [above]. Each path must connect two of the circles I’ve laid out; the number in each circle indicates how many paths must connect to that circle. The two circles connected by each path must contain <em>different</em> numbers.
    </strong>
  </p>
  <p>
    <strong>
    So as to prevent the individual paths themselves from being tedious, each path may bend by 90 degrees <em>at most once</em>. Paths may not touch or cross one another.
    </strong>
  </p>
  <p>
    Once you’ve completed your maze, you must walk it to find the final answer to my ænigma. Note that two of the circles have been <em>shaded</em>; walk the route from the upper such circle to the lower, never revisiting a circle. Whenever you come to a fork in that route, where more than one option would lead you to your goal, prefer to turn right or, failing that, to continue straight. At each circle, including the first, advance the letter written therein forward in the alphabet (wrapping around from Z to A if necessary) by the <em>final digit</em> in the sum of all of the numbers so far encountered. Those letters will reveal a clue to your final answer.
  </p>
  <p>
    Good luck!
  </p>
  <p>
    <img src="http://www.pavelspuzzles.com/adas/signature.jpg"/>
  </p>
  <p>
    Fill in your answer and give to a cashier at <a href="http://www.seattletechnicalbooks.com/">Ada's Technical bookshop</a> for your prize. This month’s prize: <strong><u>one free non-alcoholic drink!</u></strong>
    <br/>(Limit one per solver. Offer available through 31st July 2015.)
  </p>

  <hr/>

  <div>
    The puzzle above was created by <a href="http://www.pavelspuzzles.com/">Pavel Curtis</a> (all rights reserved) for <a href="http://www.seattletechnicalbooks.com/">Ada's Technical bookshop</a> in Seattle. This web version was created by <a href="https://twitter.com/hryanjones">@hryanjones</a>.
  </div>
 -->
<!--   <h4>
    contact puzzle creators
    <a href="mailto:pavel@pavelspuzzles.com,hryanjones@gmail.com" class="btn btn-default">
      <small>
        <i class="glyphicon glyphicon-envelope"></i>
        email mr. pavel curtis and mr. h. ryan jones
      </small>
    </a> -->

    <!-- twitter link slightly modified from https://about.twitter.com/resources/buttons#mention -->
<!--     <a href="https://twitter.com/intent/tweet?screen_name=pavelcurtis" class="twitter-mention-button" data-size="large" data-related="hryanjones" data-dnt="true">
      <small>
      @pavelcurtis
      <script>!function(d,s,id){var js,fjs=d.getelementsbytagname(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getelementbyid(id)){js=d.createelement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentnode.insertbefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </small>
    </a> -->
<!--
    <a href="https://twitter.com/intent/tweet?screen_name=hryanjones" class="twitter-mention-button" data-size="large" data-related="hryanjones" data-dnt="true">
      <small>
      @hryanjones
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </small>
    </a>

  </h4> -->
<!--   <h4>
    <a href="https://github.com/hryanjones/hryanjones.github.io">Code</a>
    <small>on Github</small>
  </h4> -->

  <!-- <div ng-init="showTODO = false;"> -->
  <div ng-init="showTODO = true;">
    <label class="btn btn-default h4">
      <input type="checkbox" ng-model="showTODO" ng-hide="true">
      {{showTODO ? 'Hide' : 'Show'}} TODO
    </label>
  <div ng-show="showTODO">
    <h3>TODO <small>in rough priority order</small></h3>

    <h4>For Release</h4>

    <ol>
      <li><strike>alerts for validation</strike></li>
      <li><strike>validation for too many marked squares past a square that is "blank" (and therefore true)</strike></li>
      <li><strike>validation for not enough empty+marked squares past a square that is "blank"</strike></li>
      <li><strike>Legend</strike></li>
      <li>Completed puzzle validation</li>
      <li>Letters</li>
      <li>Flavor text</li>
      <li><strike>Make the puzzle bigger, have the body size be set and put some auto borders on the sides</strike></li>
      <li><strike>Add validation for a single trapped "blank" node</strike></li>
    </ol>

    <h4>Nice-to-haves</h4>

    <ol>
      <li><strike>right-click to mark as filled</strike></li>
      <li>History back-and-forth and maybe slider</li>
      <li>change colors</li>
      <li>click-and-drag (with either left or right mouse) to select multiple in a direction</li>
    </ol>

<!--     <h4>Report issues beyond what's above</h4>
    <p>
      Please send an email to <a href="mailto:hryanjones@gmail.com">hryanjones@gmail.com</a> about any issues, bugs, or feature requests that come up.
    </p>
 -->  </div>


</body>
</html>
